@model Vidly.Models.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "count" : null;
}

<h2 class="@className">Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text>No customers have been created yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model.Customers)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name,"Details","Customers", new { id = @customer.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}

